.idea/
env/
*.py[cod]
*.egg-info/
build/
dist/
.cache/
/test*.*
/sandbox/
.coverage
htmlcov/
nginx/keys/
nginx/keys-old/
activate.*
nginx/htpasswd
nginx/_build.nginx.conf
morpheus/es-license/license.json
