version: '3.4'

volumes:
  redis_data: {}
  pdf_data: {}
  test_data: {}

networks:
  default:
    driver: bridge
    ipam:
      config:
      - subnet: 172.20.0.0/16

services:
  logs:
    image: gliderlabs/logspout
    environment:
      SYSLOG_HOSTNAME: ${SYSLOG_HOSTNAME:-morpheus}
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: always

  redis:
    image: redis:4-alpine
    volumes:
    - redis_data:/data
    restart: always
    depends_on:
    - logs

  pdf:
    image: samuelcolvin/pydf:v0.36
    restart: always
    volumes:
    - pdf_data:/tmp/pydf_cache
    depends_on:
    - logs

  web:
    image: morpheus
    hostname: morpheus-web
    environment:
      APP_AUTH_KEY: ${APP_AUTH_KEY}
      APP_MANDRILL_KEY: ${APP_MANDRILL_KEY}
      APP_USER_AUTH_KEY: ${APP_USER_AUTH_KEY}
      APP_PG_DSN: ${APP_PG_DSN}
      APP_REDIS_HOST: redis
      APP_COMMIT: ${COMMIT}
      APP_RELEASE_DATE: ${RELEASE_DATE}
      APP_RAVEN_DSN: ${RAVEN_DSN}
      APP_HOST_NAME: ${APP_HOST_NAME}
      APP_DEPLOY_NAME: ${APP_DEPLOY_NAME}
      APP_CLICK_HOST_NAME: ${APP_CLICK_HOST_NAME}
      APP_ADMIN_BASIC_AUTH_PASSWORD: ${APP_ADMIN_BASIC_AUTH_PASSWORD}
      APP_PUBLIC_LOCAL_API_URL: ${APP_PUBLIC_LOCAL_API_URL}
      APP_S3_ACCESS_KEY: ${APP_S3_ACCESS_KEY}
      APP_S3_SECRET_KEY: ${APP_S3_SECRET_KEY}
      APP_MESSAGEBIRD_KEY: ${APP_MESSAGEBIRD_KEY}
      APP_MESSAGEBIRD_PRICING_USERNAME: ${APP_MESSAGEBIRD_PRICING_USERNAME}
      APP_MESSAGEBIRD_PRICING_PASSWORD: ${APP_MESSAGEBIRD_PRICING_PASSWORD}
      APP_STATS_TOKEN: ${APP_STATS_TOKEN}
#      APP_LOG_LEVEL: DEBUG
    restart: always
    networks:
      default:
        ipv4_address: 172.20.0.101
    depends_on:
    - redis

  worker:
    image: morpheus
    hostname: morpheus-worker
    entrypoint:
    - ./run.py
    - worker
    environment:
      APP_AUTH_KEY: ${APP_AUTH_KEY}
      APP_MANDRILL_KEY: ${APP_MANDRILL_KEY}
      APP_USER_AUTH_KEY: ${APP_USER_AUTH_KEY}
      APP_PG_DSN: ${APP_PG_DSN}
      APP_REDIS_HOST: redis
      APP_COMMIT: ${COMMIT}
      APP_RELEASE_DATE: ${RELEASE_DATE}
      APP_RAVEN_DSN: ${RAVEN_DSN}
      APP_HOST_NAME: ${APP_HOST_NAME}
      APP_DEPLOY_NAME: ${APP_DEPLOY_NAME}
      APP_CLICK_HOST_NAME: ${APP_CLICK_HOST_NAME}
      APP_ADMIN_BASIC_AUTH_PASSWORD: ${APP_ADMIN_BASIC_AUTH_PASSWORD}
      APP_PUBLIC_LOCAL_API_URL: ${APP_PUBLIC_LOCAL_API_URL}
      APP_MESSAGEBIRD_KEY: ${APP_MESSAGEBIRD_KEY}
      APP_MESSAGEBIRD_PRICING_USERNAME: ${APP_MESSAGEBIRD_PRICING_USERNAME}
      APP_MESSAGEBIRD_PRICING_PASSWORD: ${APP_MESSAGEBIRD_PRICING_PASSWORD}
#      APP_LOG_LEVEL: DEBUG
      CHECK: worker
    volumes:
    - test_data:/tmp/morpheus
    restart: always
    depends_on:
    - redis
