version: '2.1'

services:
  logs:
    ports:
    - 5001:80

  nginx:
    image: nginx:1.13-alpine
    restart: always
    volumes:
    - ./nginx/dev.nginx.conf:/etc/nginx/nginx.conf
    - ./nginx/maintenance.html:/maintenance.html
    ports:
    - 5000:80
