arq==0.20
chevron==0.14.0
fastapi==0.68.1
misaka==2.1.1
MarkupSafe==2.0.1
phonenumbers==8.12.28
pydantic[email]==1.8.2
uvicorn==0.14.0
tqdm==4.62.0
buildpg==0.3
starlette==0.14.2
httpx==0.19.0
pytest==6.2.4
aiohttp==3.7.4
setuptools==58.1.0
