aiohttp==3.8.3
black==23.1.0
coverage==7.2.1
docutils==0.19
flake8==6.0.0
isort==5.12.0
pycodestyle==2.10.0
pyflakes==3.0.1
pytest==7.2.1
pytest-cov==4.0.0
pytest-mock==3.10.0
pytest-sugar==0.9.6
pytest-timeout==2.1.0
pytest-toolbox==0.4
