aiohttp==3.7.4.post0
aiohttp-jinja2==1.4.2
aiohttp-toolbox==0.6.3
aioredis==1.3.1
arq==0.20
asyncpg==0.22.0
buildpg==0.2.3
cffi==1.14.5
chevron==0.14.0
click==7.1.2
dataclasses==0.6
ipython==7.23.0
jinja2==3.0.1
libsass==0.20.1
misaka==2.1.1
phonenumbers==8.12.22
pydantic[email]==1.8.1
pytz==2021.1
tqdm==4.60.0
ua-parser==0.10.0
ujson==4.0.2
uvloop==0.15.2
