aiohttp==3.5.4
aiohttp-jinja2==1.1.1
aioredis==1.2.0
arq==0.15
buildpg==0.2.1
chevron==0.13.1
click==7.0
dataclasses==0.6
ipython==7.5.0
jinja2==2.10.1
misaka==2.1.1
msgpack-python==0.5.6
phonenumbers==8.10.13
pydantic[email]==0.22
pytz==2018.9
raven==6.10.0
raven-aiohttp==0.7.0
ua-parser==0.8.0
ujson==1.35
