aiohttp==3.5.4
aiohttp-jinja2==1.1.2
aiohttp-toolbox==0.5.3
aioredis==1.2.0
arq==0.18
asyncpg==0.18.3
buildpg==0.2.1
cffi==1.12.3
chevron==0.13.1
click==7.0
dataclasses==0.6
ipython==7.8.0
jinja2==2.10.1
libsass==0.19.2
misaka==2.1.1
phonenumbers==8.10.17
pydantic[email]==0.32.2
pytz==2019.2
ua-parser==0.8.0
ujson==1.35
uvloop==0.12.2
