aiohttp==2.3.5
aiohttp-jinja2==0.14.0
aioredis==1.0.0
arq==0.11
chevron==0.11.1
click==6.7
ipython==6.2.1
jinja2==2.9.6
misaka==2.1.0
msgpack-python==0.4.8
phonenumbers==8.8.5
pydantic==0.6.2
pytz==2017.3
raven==6.3.0
raven-aiohttp==0.6.0
ua-parser==0.7.3
ujson==1.35
