<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{ title }}</title>
  {{{ styles }}}
</head>
<body marginheight="0" marginwidth="0">
  <div style="display: none; visibility: hidden; font-size:1px;">
    {{ message_preview }}
  </div>
  <div id="body">
    <div id="heading">
      {{#company_logo}}
      <img src="{{ company_logo }}" id="logo">
      {{/company_logo}}
      <h1>
        {{ title }} {{^title}}&nbsp;{{/title}}
      </h1>
      <div style="clear:both"></div>
    </div>

    <div id="main">

      {{{ message }}}
    </div>
  </div>
</body>
</html>
