<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{ title }}</title>
  <style>
    #body {
      -webkit-font-smoothing:antialiased;
      width:100% !important;
      background:#fafafa;
      -webkit-text-size-adjust:none;
      padding: 10px;
    }
    #heading {
      padding-top: 20px;
      max-width: 540px;
      margin: 0 auto;
    }
    #heading h1 {
      margin: 0;
      font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
      font-size: 28px;
      letter-spacing: -1px;
      color: #333;
      font-weight:normal;
    }
    #logo {
      float: right;
      max-width: 240px;
      max-height: 80px;
    }
    #main {
      margin: 15px auto !important;
      max-width: 500px;
      padding: 20px !important;
      border: 1px solid #ddd !important;
      border-radius: 3px !important;
      background: white !important;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: normal;
      color: #333;
    }
    #main hr {
      margin: 20px 0;
      border-top: 1px solid #ddd;
    }
    #main p {
      margin: 15px 0;
      font-size: 14px;
      line-height: 20px;
    }
    #main li {
      margin: 5px 0;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: normal;
      color: #333;
    }
    #main a {
      color:#016997 !important;
    }
</style>
</head>
<body marginheight="0" marginwidth="0">
  <div style="display: none; visibility: hidden; font-size:1px;">
    {{ message_preview }}
  </div>
  <div id="body">
    <div id="heading">
      {{#company_logo}}
      <img src="{{ company_logo }}" id="logo">
      {{/company_logo}}
      <h1>
        {{ title }} {{^title}}&nbsp;{{/title}}
      </h1>
      <div style="clear:both"></div>
    </div>

    <div id="main">

      {{{ message }}}
    </div>
  </div>
</body>
</html>
