html {
  font-size: 13px;
}

body {
  margin: 10px auto;
  width: 60ch;
  font-family: monospace;
  background-color: #2d2d2d;
  color: white;
}

section {
  text-align: center;
  padding-top: 1.5rem;
}

section p {
  margin: 0 0 1rem;
}

@media (max-width: 60ch) {
  body {
    font-size: 2.3vw;
  }
  img {
    width: 80vw;
  }
}

pre {
  width: 46ch;
  margin: 0 auto;
}

a {
  color: #9090e0 !important;
  text-decoration: none !important;
}
