html {
  font-size: 13px;
}

body {
  margin: 10px auto;
  font-family: monospace;
  background-color: #2d2d2d;
  color: white;
  width: 1400px;
}

body.index {
  width: 60ch;
}

section {
  text-align: center;
  padding-top: 1.5rem;
}

section p {
  margin: 0 0 1rem;
}

@media (max-width: 60ch) {
  body {
    font-size: 2.3vw;
  }
  img {
    width: 80vw;
  }
}

pre {
  width: 46ch;
  margin: 0 auto;
}

a {
  color: #9090e0 !important;
  text-decoration: none !important;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: inline-block;
  width: 120px;
}

.form-group input {
  width: 300px;
}

table, th, td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 5px 10px;
}

.short {
  display: inline-block;
  width: 8ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
