<!DOCTYPE html>
  <html>
    <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <style>
      .container {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .morpheus-msg .details label {
        font-weight: 500;
        color: #666;
        display: inline-block;
        width: 120px;
        text-align: right;
        padding: 0 5px;
      }
      iframe {
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        height: 500px;
        margin-top: 40px;
      }
      pre code {
        background-color: #f5f5f5 !important;
      }
      .attachments a {
        display: inline-block;
        width: 150px;
        border: 1px solid #ccc;
        background-color: #f5f5f5;
        border-radius: 4px;
        padding: 10px;
        margin-right: 5px;
        text-align: center;
        color: #444;
        text-decoration: none;
        transition: all 0.2s linear;
      }
      .attachments a:hover {
        background-color: #eaeaff;
      }
    </style>
  </head>
  <body>

    <div class="container">
      {% block main %}{% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/json.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
      $('table').find('a').on('click', function (e) {
        e.preventDefault()
        window.location = window.location.href.replace('messages.html', 'message/' + $(this).attr('href') + '.html')
      })
      $('.pager').find('a').on('click', function (e) {
        e.preventDefault()
        if (window.location.href.includes('from=')) {
          window.location = window.location.href.replace(/(from=)\d+/, '$1' + $(this).data('from'))
        } else {
          window.location = window.location.href + '&from=' + $(this).data('from')
        }
      })
    </script>
  </body>
</html>
