#body {
  -webkit-font-smoothing: antialiased;
  width: 100% !important;
  background: #fafafa;
  -webkit-text-size-adjust: none;
  padding: 10px;

  a {
    pointer-events: none;
  }
}

#heading {
  padding-top: 20px;
  max-width: 540px;
  margin: 0 auto;

  h1 {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 28px;
    letter-spacing: -1px;
    color: #333;
    font-weight: normal;
  }
}

#logo {
  float: right;
  max-width: 240px;
  max-height: 80px;
}

#main {
  margin: 15px auto !important;
  max-width: 500px;
  padding: 20px !important;
  border: 1px solid #ddd !important;
  border-radius: 3px !important;
  background: white !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;

  hr {
    margin: 20px 0;
    border-top: 1px solid #ddd;
  }

  p {
    margin: 15px 0;
    font-size: 14px;
    line-height: 20px;
  }

  li {
    margin: 5px 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #333;
  }

  a {
    color: #016997 !important;
  }
}
