{% extends 'admin-base.jinja' %}

{% block main %}
  <h3>Preview</h3>
  <iframe src="{{ preview_url }}"></iframe>

  <h3>JSON Details</h3>
  {{ json_display|safe }}

  <p>User details url: <a href="{{ details_url }}">{{ details_url }}</a></p>
{% endblock %}
